# ignore all python compiled files
*.pyc

#ignore gedit temp files
*~

#ignore virtualenv files
/bin
/build
/lib
lib64

#ignore media files and cache
media/*
cache/*

#ignore local_settings for django
local_settings.py 
