{% extends "base.html" %}

{% block content %}
<div class="background">	
    
    <!-- div that holds the map -->
    <div id="map" style="position: relative; height: 1016px;">
    </div>
    <!-- javascript that polulated the map div -->
    <script>
    

        var map = new L.Map('map');
        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/e74bf6d54e334b95af49cbb6b91a6d18/998/256/{z}/{x}/{y}.png',
            cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
            cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});
        map.setView(new L.LatLng(37.2442, -89.6946), 5).addLayer(cloudmade);
      
        /*
        map.on('click', onMapClick);
        var popup = new L.Popup();
        function onMapClick(e) {
            var latlngStr = '(' + e.latlng.lat.toFixed(3) + ', ' + e.latlng.lng.toFixed(3) + ')';
            popup.setLatLng(e.latlng);
            popup.setContent("You clicked the map at " + latlngStr);
            map.openPopup(popup);
        }
        */
        
        var geojsonLayer = new L.GeoJSON(null, {
            pointToLayer: function (latlng){
                return new L.CircleMarker(latlng, {
                    radius: 8,
                    fillColor: "#ff7800",
                    color: "#000",
                    weight: 1,
                    opacity: 1,
                    fillOpacity: 0.8
                });
            }
        }); 
        
        geojsonLayer.on("featureparse", function (e) {
            e.layer.bindPopup(e.properties.popupContent);
        }); 

        map.addLayer(geojsonLayer)

        result_ids = new Array();
        function results_refresh(event) {
            var url = "/index.json?bbox=" + map.getBounds().toBBoxString();

            $.getJSON(url, function(data) {
                
                $.each(data.features, function(i, feature) {
                    
                    if ($.inArray(feature.id, result_ids) == -1) {
                        // not a duplicate, so we can add it
                        geojsonLayer.addGeoJSON(feature);
                        result_ids.push(feature.id);
                    }
                    
                });
                
                console.log(result_ids.length + " dots loaded.");
            });
        }
        
        map.on('moveend', results_refresh);
        
        results_refresh(null); // not fired automatically
        
    </script>
    
    <div class="menu">
            <!-- List of uploaded documents 
            {% if documents %}
                <ul>
                    {% for document in documents %}
                        <li><a href="{{ document.address_list.url }}">{{ document.address_list.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents.</p>
            {% endif %}-->
            
            {% if contents %}
                <p> Got Content </p>
            {% else %}
                <p>No content</p>
            {% endif %}

            You asked for: {% for districts in districts_requested %} {{districts}} {% endfor %}<br />

            <!-- Upload form. Note enctype attribute! -->
            
        <form id="options" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <fieldset>
                <legend>{{ form.docfile.label_tag }}</legend>
                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>
            </fieldset>
            <fieldset>
                <legend>Choose Options</legend>
                <p>
                    <input type=checkbox name=district value=States>                    
                    <label for=name>State</label>                       
                </p>
                <p>
                    <input type=checkbox name=district value=Counties>
                    <label for=name>County</label>
                </p>
                <p>
                    <input type=checkbox name=district value=Congress_Districts>           <label for=name>Congress District</label>                             
                </p>
                <p>
                    <input type=checkbox name=district value=State_Leg_Upper>   
                    <label for=name>State Leg Upper</label>
                </p>
                <p>
                    <input type=checkbox name=district value=State_Leg_Lower>   
                    <label for=name>State Leg Lower</label>
                </p>
                <p>
                    <input  type=checkbox name=district value=VTDs>
                    <label for=name>Precinct</label>
                </p>
                <p>
                    <input  type=checkbox name=district value=Blocks>
                    <label for=name>Census Block</label>
                </p>
            </fieldset>
            <fieldset>
                <legend>Process</legend>
                    <input type="submit" value="Submit Job" />
            </fieldset>
        </form>

		debug return: Output looks like: {{contents}}
        
    <!-- End of menu div -->
    </div>
            
<!-- End of background div -->
</div>
{% endblock %}
